#color-chooser {
	display: inline-block;
	border: 1px solid black;
	background: #000000;
}

#shade-chooser {
	display: inline-block;
	margin-left: 10px;
	border: 1px solid black;
}

#chosen-color {
	background: #000000;
	margin-right: 10px;
	height: 25px;
	width: 25px;
	display: inline-block;
	border: 1px solid black;
}

.color-label {
    display: inline-block;
}