/*
 * Main/Container Styles
 */
#jspalette {
	position: absolute;
	width: auto;
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #666;
    background: white;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
}

#color-container {
	width: auto;
	margin: 0 auto;
}

#palette-controls {
	width: 151px;
	height: 30px;
	margin: 20px auto 5px auto;
}


/*
 * Color Chooser Styles
 */
#chooser-icon {
	position: absolute;
	width: 8px;
	height: 8px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: default;
}

#chooser-background {
	display: inline-block;
}

#color-chooser {
	display: inline-block;
	border: 1px solid black;
	cursor: default;
}

#shade-background {
	display: inline-block;
	margin-left: 5px;
}

#shade-chooser {
	display: inline-block;
	border: 1px solid black;
	cursor: default;
}

#color-outcome {
	width: 151px;
	margin: 5px auto;	
}

#chosen-color {
	background: #15EAE7;
	margin: 5px 10px 0 0;
	height: 25px;
	width: 25px;
	display: inline-block;
	border: 1px solid black;
}

#picked-color {
    display: inline-block;
    top: -9px;
    position: relative;
	width: 105px;
	height: 21px;
	padding-left: 5px;
}


/*
 * Button Styles
 */
.jspalette-control {
	cursor: pointer;
	height: 30px;
	padding: 0 10px;
	background: lightblue;
	color: midnightblue;
	border: 1px solid midnightblue;
	border-radius: 3px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.jspalette-control:hover {
	background: midnightblue;
	color: lightblue;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}